<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/home.css'>
    <link rel='stylesheet' href='/css/login.css'>
    <link rel='stylesheet' href='/css/normalize.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <body id="tipografia">
        <header class="fondo">
            <div class="display">
    
                <img src="/images/logo-mercado-liebre.svg" alt="Mercado liebre logo" class="logo" />
                <br></br>
    
    
                <div id="barra-search">
                    <input class="fulltext-search-box" type="text" placeholder="Buscar productos...">
                    <button  type="submit" class="btn-buscar">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
    
    
                <div class="subtitulo" class="cuerposDeTexto "><i class="fas fa-hand-holding-usd "></i>Comprá en cuota y sin tarjetas de créditos</div>
                <nav class="minNaviar" class="cuerposDeTexto " class="desaparece">
                    <ul>
                        <li><a href="/ ">Ofertas </a></li>
                        <li><a href="/ ">Tienda oficial</a></li>
                        <li><a href="/ ">vender</a></li>
                        <li><a href="/ ">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="register"></i>Crea tu cuenta<i class="far fa-id-card "></i></a>
                        </li>
                        <a href="login"><li>Ingresá<i class="fas fa-sign-in-alt "></i></a>
                        </li>
                        <li><a href="/ ">Mis compras</a><i class="fas fa-shopping-basket "></i></li>
                    </ul>
    
    
                </nav>
            </div>
        
        </header>

 <main>
    <form action="home" method="POST" class="formulario">
        <div>
            <input class="formulario-input" type="text" name="nombre-de-usuario" class="ingresar-cuenta" placeholder="Nombre de usuario">
        </div>
        <div>
            <input class="formulario-input" type="text" name="contraseña" class="ingresa-cuenta" placeholder="Contraseña">
        </div>
        <div>
            <button type="submit" class="buton-enviar">Envíar</button>
        </div>
    </form>
</main>

<footer id="footerDiv">
   <div class="footer-disposicion">

        <div>

        <div class="fasfa-credit-card"><i class="fas fa-credit-card fa-4x"></i></div>
        <div class="titularesFooter">Pagá con tarjeta o en efectivo</div>
        <div class="cuerpoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
       
        </div>  
        <div>
            
        <div class="fasfa-credit-card"><i class="fas fa-gift fa-4x"></i></div>
        <div class="titularesFooter">Envío gratis desde $ 2.500</div>
        <div class="cuerpoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        
        </div>  
        <div>
        <div class="fasfa-credit-card"><i class="fas fa-user-shield fa-4x" ></i></div>
        <div class="titularesFooter">Seguridad, de principio a fin</div>
        <div class="cuerpoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
        
        </div>
        
        </div>
        <div id="copiraight">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
</footer>
</body>

</html>